<!DOCTYPE html>
<html>
    <head>
        <style>
            .mainhead{
                background: url(https://cdn.pixabay.com/photo/2019/04/26/07/14/store-4156934_1280.png);
                padding: 30px;
                background-repeat: no-repeat;
background-size: cover;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    
    background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(5px);
            }
        </style>

        <title> List of Adds </title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </head>
    

    <body class="mainhead">
        <nav class="navbar" style="padding: 1%;box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    
        background-color: rgba(255, 255, 255, .15);
        
        backdrop-filter: blur(5px);border-radius: 10px; ">
            <h1 style="color: rgb(255, 255, 255);">Welcome to fastr.</h1>
          
           
            <button class="btn btn-danger btnAction" onclick="window.location.href = 'back';" style="margin-left: 20%;">Back</button>
          </nav>
        <br>
        <table class="table" style="text-align: center;margin-top:2%;box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    
        background-color: rgba(255, 255, 255, .15);
        
        backdrop-filter: blur(5px);color: white;">
            <span style="color: white;font-family: sans-serif;font-size: 30px;">  Adds <b></b> </span>
            
            <thead class="thead-dark" style="color: rgb(20, 20, 20);">
            <tr>
                <th>Name </th>
                <th>Description</th>
                <th>Time Created</th>
                <th>Price</th>
                <th>Image</th>
                <th>Request Info</th>
                
            </tr>
        </thead>
            <%
            if( addData.length > 0 )
            {
                addData.forEach(function (data){
                    
                    %>

                    <tr>
                        <td><%=data.name%></td>
                        <td><%=data.description%></td>
                        <td><% var dObj = new Date(data.timestamp)
                            var date = dObj.getDate()+"/"+(dObj.getMonth()+1)+"/"+dObj.getFullYear()+" "+ dObj.getHours()+":"+dObj.getMinutes()+":"+dObj.getSeconds() %>
                            <%=date%></td>
                        <td><%=data.price%></td>
                        
                        <td><a class="" href="/admin/view/<%=data._id%>"> view </a></td>
                        <td><a class="" href="/admin/request/<%=data._id%>"> request </a></td>
                       
                           
                           
                    </tr>

                    <%

                })
            }
            %>
        </table>
    </body>
</html>
<script lang="javascript">
    
var oRows = document.getElementById('table').getElementsByTagName('tr');
var iRowCount = oRows.length;



</script>